h1 {
    font-size: 50px;
    color: red;
    font-weight: bold;
    font-family: calibri;
}
h2 {
    font-size: 30px;
    color: green;
    font-weight: normal;
    font-family: calibri;
}
p  {
    font-size: 20px;
    color: blue;
    font-weight: normal;
    font-family: calibri;
}
